<div class="col-md-3">
	<div class="row">
		<h3 class="text-center">My Lists</h3><hr />
	</div>
	
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
				<div class="col-md-12">
					<div class="input-group">
						<input id="field_new_list" type="text" name="list[list_name]" placeholder="New List" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" onclick="createList();"><span class="glyphicon glyphicon-plus"></span></button>
						</span>
					</div>
				</div>
			</div>
			<div id="lists" class="row">Nothing here</div>
		</div>
	</div>
	
	
</div>
<div class="col-md-4">
	<div class="row">
		<h3 class="text-center">Items in List</h3><hr />
	</div>
	
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row" id="items">
					<h4 class="text-center"><small>Select a List</small></h3>
				</div>
			</div>
		</div>
</div>
<div class="col-md-5">
	<div class="row">
		<h3 class="text-center">Item Detail</h3><hr />
	</div>

	<div class="panel panel-default">
		<div class="panel-body" >
			<div class="row"id="item_detail">
			<h4 class="text-center"><small>Select an Item</small></h4>
		</div>
	</div>
</div>
</div>

